:root {
    --primary-color: #f6f6f6;
    --secondary-color: #d0d0d0;
    --dark-color: #292929;
    --red-color: #c61400;
    --green-color: #1fc600;  
    --sun-color: #ffcc33;
    --moon-color: #dae0ee;
    --black-color: #000000;
    --shadow-color: #0000005c;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Mulish', sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--dark-color)
}

h1 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
    font-size: 350%;
}

h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
    font-size: 250%;
}

header {
    display: flex;
    align-items: center;
    color: var(--dark-color);
}



.box {
    -webkit-box-shadow: 9px 7px 11px -5px rgba(0,0,0,0.36);
    -moz-box-shadow: 9px 7px 11px -5px rgba(0,0,0,0.36);
    box-shadow: 9px 7px 11px -5px rgba(0,0,0,0.36);
    background-color: var(--secondary-color);
    border-radius: 20px;
}

.box-inner {
    margin: 20px;
}

.box-horizontal {
    display: flex;
}

.box-horizontal .button {
    display: flex;
    margin: 10px 10px;
}

.text-area {
    width: 470px;
    height: 200px;
    margin-left: 5px;
    margin: 10px auto;
    border-radius: 15px;
    background-color: var(--primary-color);
    -webkit-box-shadow: 9px 7px 11px -5px rgba(0,0,0,0.36);
    -moz-box-shadow: 9px 7px 11px -5px rgba(0,0,0,0.36);
    box-shadow: 9px 7px 11px -5px rgba(0,0,0,0.36);
}

.button {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    cursor: pointer;
    -webkit-box-shadow: 9px 7px 11px -5px rgba(0,0,0,0.36);
    -moz-box-shadow: 9px 7px 11px -5px rgba(0,0,0,0.36);
    box-shadow: 9px 7px 11px -5px rgba(0,0,0,0.36);
    transition: all .1 ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    font-weight: 1000;
    text-align: center;
}

.button-long {
    width: 220px;
}

.button p {
    transition: all .1 ease-in-out;
}

.button:hover {
    transform: scale(.98);
}

.button p {
    transform: scale(.98);
}

.button-primary {
    background-color: var(--primary-color);
}

.button-green {
    background-color: var(--green-color);
    color: var(--primary-color);
}

.button-red {
    background-color: var(--red-color);
    color: var(--primary-color);
}

.light {
    color: var(--sun-color);
}

.dark {
    color: var(--moon-color);
}
